    /*Sidny*/
    
    #game {
        display: flex;
        justify-content: space-evenly;
    }
    
    #startGame {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(45, 53, 100);
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        text-shadow: 0 5px 5px rgb(0, 6, 15);
    }
    
    #startGame h1 {
        font-size: 80px;
    }
    
    #startGame h3 {
        font-size: 40px;
    }
    
    #startGame button {
        font-size: 20px;
        font-style: oblique;
        font-weight: bolder;
        text-shadow: 0 3px 3px rgb(9, 43, 95);
        color: white;
        background-color: rgb(15, 88, 88);
        border-radius: 4px;
        border: 5px double rgb(50, 50, 97);
        margin: 10px 0 10px 0;
        width: 50%;
        height: 30%;
    }
    
    #winning,
    #losing {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(9, 22, 49, 0.637);
        height: 100vh;
        width: 100vw;
        font-style: oblique;
        font-size: 200%;
    }
    
    #winning h1,
    #losing h1 {
        align-self: center;
        color: white;
        text-shadow: 3px 3px 5px rgb(91, 149, 204);
    }
    
    #winning button,
    #losing button {
        background-color: rgb(17, 18, 22);
        box-shadow: 0 3px 3px rgb(25, 172, 152);
        border: 1px dotted rgb(11, 39, 0);
        color: white;
        font-size: 100%;
        text-shadow: 3px 3px 5px rgb(77, 64, 77);
        font-weight: bolder;
        font-style: oblique;
    }
    
    #losing {
        background-color: rgba(116, 20, 20, 0.637);
    }
    
    #losing h1 {
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 5px rgb(143, 29, 29);
    }
    
    #losing button {
        background-color: rgb(0, 0, 0);
        box-shadow: 0 3px 3px rgb(134, 9, 9);
        color: rgb(221, 221, 221);
        text-shadow: 3px 3px 5px rgb(117, 22, 22);
    }
    
    #blue,
    #red,
    #yellow,
    #green,
    #purple {
        height: 8%;
        border-radius: 20px;
        border: 2px solid black;
        box-shadow: 0 2px 5px black;
        margin-bottom: 3px;
    }
    
    #blue {
        width: 90%;
        background-color: blue;
    }
    
    #yellow {
        width: 70%;
        background-color: yellow;
    }
    
    #red {
        width: 50%;
        background-color: red;
    }
    
    #green {
        width: 30%;
        background-color: green;
    }
    
    #purple {
        width: 110%;
        background-color: purple;
    }
    
    #contador {
        position: absolute;
        display: none;
    }
    
    #contador p {
        font-size: 150%;
        margin-right: 10px;
    }
    
    #reset {
        display: flex;
        align-items: center;
    }
    /*Sidny*/
    /*VAGNER*/
    
    main {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    
    #left,
    #right,
    #middle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-basis: 33%;
        /* padding: 20px; */
        height: 80vh;
        width: 20vw;
        background-image: url(assets/img/pole.png);
        background-repeat: no-repeat;
        background-size: 10% 50%;
        background-position: bottom, center;
        margin: 0 20px -5px;
    }
    
    footer {
        padding: 10px;
        background-color: #1f1f1f;
        border-radius: 30px 30px 0 0;
        text-align: right;
        color: lightgrey;
    }
    
    @media (min-width: 600px) {
        main {
            width: 80%;
        }
        #startGame {
            display: flex;
            align-content: center;
        }
        #startGame div {
            margin: 0 10px 0 10px;
            width: 70vw;
            height: 20vh;
        }
        #startGame button {
            margin-left: 10px;
        }
        #startGame button:hover {
            background-color: white;
            color: black;
        }
    }
    /*VAGNER*/