/*Sidny*/

div {
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    margin-bottom: 3px;
}

#blue {
    width: 200px;
    background-color: blue;
}

#yellow {
    width: 300px;
    background-color: yellow;
}

#red {
    width: 400px;
    background-color: red;
}

#green {
    width: 500px;
    background-color: green;
}


/*Sidny*/


/*VAGNER*/


/*VAGNER*/